@import "/components/rent_button";

.show-page {
  display: flex;
  margin-top: 10vh;
  gap: 3vh;
  flex-direction: column;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2vh;
}

.product-text {
  height: 20%
}

.date-product {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
}

.carousel-wrapper {
  width: 100%;
}
