// Define variables for your color scheme

// For example:
$red: #4F000B;
$blue: #0D6EFD;
$yellow: #FFC65A;
$orange: #FF9B54;
$green: #1EDD88;
$gray: #0E0000;
$light-gray: #F4F4F4;

$red1: #4F000B;
$red2: #720026;
$red3: #CE4257;
$orange1: #FF9B54;
$orange2: #FF7F51;
$darkblue: #08415C
