@import "/components/rent_button";

.show-page {
  display: flex;
  margin-top: 10vh;
  gap: 3vh;
}

.product-media {
  width: 60vw;
  display: flex;
  flex-direction: column;
  margin-left: 2vh;
  height: 88vh;
}

.product-info {
  width: 35vw;
  display: flex;
  flex-direction: column;
  height: 88vh;
}
.product-images {
  display: flex;
  gap: 1vh;
  margin-bottom: 3vh;
}

.side-images {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  gap: 1vh;

  img {
    height: 33%;
    object-fit: cover;
    object-position: center;
  }
}

.user-info {
  display: flex;
  align-items: center;
}


#main-image {
  width:100%;
  height: 100%;
  object-fit: cover;
  object-position: center;
}

.side-image {
  width: 20vh;
  height: 20vh;
}

.profile-pic {
  width: 150px;
  height: 150px;
  border-radius: 50%;
  object-fit: cover;
  margin-right: 2vh;
}

.product-text {
  height: 20%
}

.date-location {
  display: flex;
  height:50%;
}
