<div id="footer">
  <div class="thing">
      <a href="#"><i class="fa-brands fa-twitter fs-2"></i></a>
      <a href="#"><i class="fa-brands fa-facebook fs-2"></i></a>
      <a href="#"><i class="fa-brands fa-instagram fs-2"></i></a>
      <a href="#"><i class="fa-brands fa-github fs-2"></i></a>
  </div>
  <p>Copyright Rent My Stuff 2023</p>
</div>
