<div class="bg-warning" id="footer">
  <div class="d-flex justify-content-end pt-5 pe-5">
    <i class="fa-brands fa-twitter fs-2 me-3"></i>
    <i class="fa-brands fa-facebook fs-2 me-3"></i>
    <i class="fa-brands fa-instagram fs-2 me-3"></i>
    <i class="fa-brands fa-github fs-2 me-3"></i>
  </div>
</div>
