<div class="container">
    <div class="navbar">
      <ul>
        <div class="logo"></div>
        <p></p>
        <div class="button"> <a href="url", Sign-in></a></div>
      </ul>
    </div>


<div class="banner" style="background-image: linear-gradient(rgba(0,0,0,0.4),rgba(0,0,0,0.4)), url(<%= asset_path "youssef-naddam-iJ2IG8ckCpA-unsplash.png"%>);">
    <div class="container">
      <h1>With RentMyStuff,</h1>
      <p>rent <strong>everything</strong>, <strong>everywhere</strong>!</p>
      <form action="/" method="GET" class="form">
        <input type="text" name="query" class="search-input"><button type="submit" class="search-button"><i class="fa-solid fa-magnifying-glass"></i></button>
      </form>
    </div>
  </div>

    <div class="big-bloc trending">
      <h1>TRENDING</h1>
      <div class="card-item">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="big-bloc-infos">
          <div>
            <h2>Jaccuzi</h2>
            <p>Fancy</p>
          </div>
          <h2 class="card-item-pricing">10€ / day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-item-user avatar-bordered" />
        </div>
      </div>
      <div class="card-item">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="big-bloc-infos">
          <div>
            <h2>Jaccuzi</h2>
            <p>Fancy</p>
          </div>
          <h2 class="card-item-pricing">10€ / day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-item-user avatar-bordered" />
        </div>
      </div>
      <div class="card-item">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="big-bloc-infos">
          <div>
            <h2>Jaccuzi</h2>
            <p>Fancy</p>
          </div>
          <h2 class="card-item-pricing">10€ / day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-item-user avatar-bordered" />
        </div>
      </div>
      <div class="card-item">
        <img src="https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/greece.jpg" />
        <div class="big-bloc-infos">
          <div>
            <h2>Jaccuzi</h2>
            <p>Fancy</p>
          </div>
          <h2 class="card-item-pricing">10€ / day</h2>
          <img src="https://kitt.lewagon.com/placeholder/users/krokrob" class="card-item-user avatar-bordered" />
        </div>
      </div>
    </div>


    <div class="big-bloc category">
      <h1>ITEM CATEGORIES</h1>
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Outdoor
      </div>

      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Construction tools
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Gardenning tools
      </div>
      <div class="card-category" style="background-image: linear-gradient(rgba(0,0,0,0.3), rgba(0,0,0,0.3)), url(https://raw.githubusercontent.com/lewagon/fullstack-images/master/uikit/breakfast.jpg)">
      Art
      </div>

    </div>

    <div class="container-3 big-bloc add-item">
      <h1>WANT TO ADD AN ITEM?</h1>
      <div class="googleform">
      </div>
    </div>

    <div class="footer">
      <ul>
        <li>Facebook</li>
        <li>Facebook</li>
      </ul>
    </div>

  </div>
