<h1>List of items</h1>

<ul>
  <% @items.each do |item| %>
    <li><%= item.title %></li>
    <li><%= item.location %></li>
    <li><%= item.description %></li>
    <li><%= item.average_rating %></li>
  <% end %>
</ul>
