.mapboxgl-popup {
  max-width: 200px;
  background-color: #720026;
}

.mapboxgl-popup-content {
  text-align: center;
  font-family: "Open Sans", sans-serif;
  color: #720026;
}


#map{
  width: 80%;
  height: 400px;
  margin: 0 auto;
  margin-top:200px;
  border-radius: 5px;
}
