// Graphical variables
@import "config/fonts";
@import "config/colors";
@import "config/bootstrap_variables";

// External libraries
@import "bootstrap/scss/bootstrap";
@import "font-awesome";

// Your CSS partials
@import "components/index";
@import "pages/index";
@import "pages/items/show";
@import "pages/users/show";



h1 {
  letter-spacing: 2px;
  font-size: 50px;
  color: $darkblue;
  font-family: 'Work Sans', sans-serif;
}

h2, h3, h4 {
  letter-spacing: 2px;
  color: $darkblue;
  font-family: 'Work Sans', sans-serif !important;
}

h2 {
  letter-spacing: 2px;
  font-family: 'Work Sans', sans-serif !important;
}

body  {
  font-family: 'Work Sans', sans-serif !important;
}

a {
  color: $red3;
  text-decoration-line: underline;

}

.home-form-inline {
  display: flex;
}
