<h1 class="text-center">Edit my review</h1>
<div class="d-flex bg-warning bg-opacity-25 p-5 rounded-4 shadow flex-column col-md-6 mx-auto my-5">
<%= simple_form_for(@review) do |f| %>
  <%= f.input :content %>
  <%= f.input :rating %>
  <div class="d-flex flex-column text-center form-actions px-4">
      <%= f.button :submit, "Edit the review", class:"btn-outline-danger align-self-center btn-outline-opacity-25 w-50" %>
    </div>
<% end %>
</div>
